.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: #F5F5F5; */

}

.main_container {
    padding-top: 3rem;
}

.p_left {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transform: rotate(-90deg);
    left: 15px;
    top: 300px;
}

fieldset {
    width: 1008px;
    height: 900px;
    border: 1.2px solid #525252;
    margin-bottom: 2rem;
}

legend {

    margin-left: calc(50% - 35px - 8px);

}

legend img {
    width: 182px;
    height: 76px;
    margin: 10px;
}

.box_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.5rem;
}

.box1,
.box2 {
    width: 456px;
    height: 176.95px;
    border: 5px solid #C4C4C4;
    background: #FFFFFF;
    /* display: flex;
    justify-content: center; */


}

.box1_container,
.box2_container {
    display: flex;
    /* justify-content: center; */
    column-gap: -10px;
}

.box1_container span,
.box2_container span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: 'SF Pro Display';
    color: #4E4D4D;
    margin: 20px 10px;

}

.box1_container img,
.box2_container img {
    width: 40px;
    height: 40px;
    margin: 20px 10px;
}

.box1 p,
.box2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E4D4D;
    margin-top: 3rem;
    margin-left: 10px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.image img {
    width: 495px;
    height: 205.63px;

}

.footer_image img {
    width: 276px;
    height: 37.99px;
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}

.p1_link {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: 'SF Pro Display';
    color: #4E4D4D;
}

.footer_desc a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #00ABFA;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    text-decoration: none;
}