.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_left {
    position: absolute;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    color: #000000;
    transform: rotate(-90deg);
    left: 290px;
    top: 180px;
}

fieldset {
    width: 552px;
    height: 459px;
    border: 1.2px solid #525252;
}

legend {

    margin-left: calc(50% - 35px - 8px);

}

legend img {
    width: 99px;
    height: 41.3px;
}

.box_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.box1,
.box2 {
    width: 256px;
    height: 100px;
    border: 5px solid #C4C4C4;
    /* display: flex;
    justify-content: center; */


}

.box1_container,
.box2_container {
    display: flex;
    /* justify-content: center; */
    column-gap: -10px;
}

.box1_container span,
.box2_container span {
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    font-family: 'SF Pro Display';
    color: #4E4D4D;
    margin: 10px 10px;

}

.box1_container img,
.box2_container img {
    width: 24px;
    height: 24px;
    margin: 10px 10px;
}

.box1 p,
.box2 p {
    font-weight: 400;
    font-size: 7px;
    line-height: 10px;
    color: #4E4D4D;
    margin-top: 30px;
    margin-left: 10px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.image {
    width: 264px;
    height: 110px;

}

.footer_image img {
    width: 148px;
    height: 20px;
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.p1_link {
    text-align: center;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    font-family: 'SF Pro Display';
    color: #4E4D4D;
}

.p2_link {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #00ABFA;
    text-align: center;
}